.container {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}


.playerCoinContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}

.playerCoin {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  position: relative;
}

.permanentDrawer {

  .drawerPlayerCoins {
    display: flex;
    padding: 16px;
    align-items: flex-end;

    background-color: #F5F5F5;
  }


  .permanentDrawerPaper {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 400px;
    max-width: 80vw;
    overflow: hidden;
  }
}

.drawerPlayerCoin + .drawerPlayerCoin {
  margin-left: 16px;
}
