.root {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 6px;
  width: 100%;
}

.keyButton {
  width: 100%;
  padding: 10px 5px !important;
  min-width: 0 !important;
}

.deleteButton {
  grid-column: 9 / 11;
  grid-row: 2 / 3;
}

.submitButton {
  grid-column: 9 / 11;
  grid-row: 3 / 4;
}

.buttonWrapper {
  display: flex;
}
