.permanentDrawer {
  width: 400px;
  max-width: 80vw;

  .permanentDrawerPaper {
    position: relative;

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
}

.inputRoot {
  width: 100%;
}
